@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400&display=swap');
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-margin-top: 10em;
}

.container {
  width: 80%;
  margin: 0 auto;
}
.primary-bg {
  padding: 1em 2em;
  background-color: #202229
}
:root{
  /* COLORS */
  --BGCOLOR: #456B42;
  --BGCOLOR-FADE: #000;
  --BODY-BGCOLOR: #FFF;
  --BGIMAGE: linear-gradient(to bottom, var(--BGCOLOR), var(--BGCOLOR-FADE));
  --BORDER-COLOR: whitesmoke;
  --HIGHLIGHT-COLOR: #282c34;
  --LINK-COLOR: #000;
  --LINK-HOVER: hsla(0, 0%, 0%, 0.6);
  --LINK-ACTIVE: #000;
  /* BORDERS */
  --BODERS: 1px solid var(--BORDER-COLOR);
  /* FONTS */
  --FF: 'Roboto', sans-serif;
  --FF-HEADINGS: "Fugaz One", cursive;
  --FS: clamp(1rem, 2.2vh, 1.5rem);
  --FONT-COLOR: #000;

  /* STANDARD */
  --PADDING-TB: 0.25em;
  --PADDING-SIDE: 2.5%;

  /* --STANDARD MARGIN */
  --MARGIN: clamp(1em, 2.5vh, 1.5em);

}

/* GENERAL STYLES */
html {
  scroll-behavior: smooth;
  background-color: #999;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--BODY-BGCOLOR);
}

aside {
  flex-grow: 1;
  background-color: #626C80;
  color: #4C3999;
  /* font-weight: 900; */
}
aside h4,h3 {
  /* color: #FFF */
  font-weight: 600;
}
aside p {
  color: #FFF
}
aside p {
  color: #FFF
}
article {
  flex-grow: 2;
}

header {
  top: 0;
  margin-top: 0;
}

footer, header {
  position: sticky;
  color: #FFF;
  z-index: 0;
}

footer {
  background-color: hsla(223, 14%, 10%, 0.98);
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.home {
  z-index: 1000;
}
.no_wrap {
  white-space: nowrap;
}



.greeting {
  animation: App-logo-spin 1s ease-in-out .5s 1;
}


.profile_photo {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
}

/* HOME */

.card a {
  color: #4C3999;
}
.card span {
  display: inline-block;
  margin-right: 1em;
  color: var(--HIGHLIGHT-COLOR);
}
.read_more  {
  /* margin: 0 0.5em; */
  text-transform: uppercase;
}
/* PROJECTS */
figcaption span {
  margin-right: 0.5em;
}

figcaption a {
  text-decoration: underline;
  cursor: pointer;
}

figcaption a:hover, a:focus-visible {
  color: #007ac0;
}

/* figcaption a:visited {
  color: #c000ba;
} */
.project_name {
  display: inline-block;
}
/* ABOUT */
.about {
  background-color: var(--BODY-BGCOLOR);
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 600px) {
  aside {
    width: 100%;
  } 

   main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    
  }

  .read_more  {
    margin-left: 0.5em;
  }
}

#modal {
  position: fixed;
  max-height: calc(300px + 10vh);
  max-width: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  transform: translate(50%, 50%);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

#modal:empty {
  display: none;
}

#modal form {
  background-color: #fff;
  width: 100%;
  height: 100%;
  padding: 15px;
  text-align: center;
  border-radius: 30px;
}

#modal .buttons button {
  display: inline-block;
  margin-right: 15px;
}

.modal {
  height: 100%;
  width: 100%;
}

.loader {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.loader-hidden {
  opacity: 0;
  visibility: hidden;
}

.loader::after {
  content: '';
  width: 75px;
  height: 75px;
  border: 15px solid #dddddd;
  border-top-color: #7449f5;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
/* Change the color and thickness of the focus border */
#modal input:focus, textarea:focus {
  border-color: #d1e1f1; /* Change to your desired color */
  border-width: 2px; /* Change to your desired thickness */
  outline: none; /* Remove the default outline */
}

/* Add a box shadow when the input is focused */
#modal input:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(229, 239, 249, 0.5); /* Change to your desired shadow */
}


@media screen and (max-width: 500px) {
  #modal {
    background-color: #fff;
    position: fixed;
    max-height: calc(350px + 10vh);
    max-width: 90%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    transform: translate(3.5%, 50%);
  }

  .modal {
    height: 100%;
    width: 90%;
  }
}


.mygrad {
  background-color:  #FFF;
  clip-path: polygon(0% 100%, 100% 0%, 0% 0%);
  height: 50px;
  border: none;
}

.clip-b{
  clip-path: polygon(0% 100%, 100% 0%, 100% 100%);
  background-color:  #FFF;
  height: 50px;
  border: none;
}